@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Hi, there this is simple task management app built using Asp.Net core mvc.</p>
    <a class="btn btn-primary" asp-controller="Tasks" asp-action="Index">See All Tasks</a>
</div>
